html {
    color: #e0e0e0;
    background-color: #131516;
}

a, a:visited {
    color: #5870ff;
}
a:hover {
    color: #b1bcff;
}

section {
    margin: 0 auto;
    text-align: center;
}

section > div {
    margin: 2rem 0;
}

.face {
    width: 260px;
    height: 260px;

    margin: 2rem auto;
    display: block;

    border-radius: 50%;
    border: 3px solid #111;
}

.name {
    font-size: 1.5rem;
    text-align: center;
}

.links {
    text-align: center;
}
.links a {
    text-decoration: none;
}
.links a img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem;
    padding-bottom: 4px;

    border-bottom: 1px solid transparent;
}
.links a path {
    fill: green;
}
.links a img:hover {
    border-bottom: 1px solid #5870ff;
}

.entries {
    display: table;
    margin: 0 auto;
}
.entries div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    margin: 0.4rem;
}
.entries div div:first-child {
    text-align: left;

    display: flex;
    flex-direction: column;
    flex-basis: 0%;
}
.entries div div:last-child {
    text-align: left;

    display: flex;
    flex-basis: 100%;
    flex: 1;
}
